/* Ahmed Hanif; Creation Date: 22/10/2023 */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color:black;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}

input{
    border: none;
    border-radius: 0;
}