/* Ahmed Hanif; Creation Date: 22/10/2023 */

header div {
  padding: 10px;
}

.logo {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
}

header div > p span {
  font-weight: 600;
}

header form input {
  background-color: rgb(244 244 244);
  outline: 3px solid gainsboro;
  border-radius: 10px;
}

header form input[placeholder] {
  padding: 10px 5px;
}

/* Showcase Container */
.showcase-container-heading {
  font-size: 4.5rem;
}
.showcase-container-description {
  font-size: 1.4rem;
}

.showcase-container-right-column {
  width: 100%;
}

.showcase-container-book {
  width: 33%;
  float: left;
}
.showcase-container-book img {
  width: 100%;
  height: auto;

  box-shadow: 0px 5px 15px rgb(0, 0, 0, 0.6); /* /* |<length> | <length> | <length> | color*/
}

.showcase-container-author,
.showcase-container-audiobook {
  width: 25%;
  float: left;
  vertical-align: center;
  margin-top: 20px;
  margin-left: 30px;
}
.showcase-container-author img,
.showcase-container-audiobook img {
  width: 100%;
  box-shadow: 10px 15px 25px 2px rgb(0, 0, 0, 0.6);
  border-radius: 16px;
}

.showcase-container-author > p {
  font-size: 0.8rem;
  margin-bottom: 15px;
  text-align: center;
}

fieldset {
  border: 0px;
}

footer {
  background-color: black;
  padding: 30px;
  text-align: center;
}

footer p {
  color: white;
}

.customer-review-heading {
  font-weight: 800;
}
.customer-review-heading.main {
  font-size: 1.8rem;
}
.customer-review-left-column > * {
  margin-bottom: 10px;
}

.customer-review-left-column {
  width: 70%;
  margin: 0 auto;
}
.customer-review-information p {
  font-weight: 600;
  padding-top: 10px;
  font-size: 1.3rem;
}
.customer-review-container {
  font-size: 1.3rem;
  padding: 20px;
}
.customer-review-right-column {
  margin: 0 20px;
}

.about-us-container {
  background-image: url(../image/about-us-gradient.png);
  background-position: 80%;
  color: white;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 50px;
}

.about-us-left-column {
  padding: 20px;
}

.about-us-description {
  line-height: 30px;
  font-weight: 400;
  word-spacing: 5px;
  font-size: 1.4rem;
}

.about-us-container * {
  color: inherit;
}
.about-us-container h2 {
  margin: 20px 0px;
}

.product-showcase-container > h1 {
  text-align: center;
  font-size: 5rem;
  padding: 80px 20px 0 0;
}
.product {
  width: 60%;
}
.product img {
  width: 100%;
}

.products-container {
  width: 90%;
  margin: 0 auto;
  margin-top: 60px;
  padding-bottom: 40px;
  justify-items: center;
}

.product-container-button {
  display: grid;
  justify-items: center;
}

.product-container-button button {
  padding: 10px 20px;
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: #f8f3ed;
}
